.input {
  min-width: 144px;
  flex-grow: 1;
  padding-inline: 5px;
  background-color: transparent;
  border: none;
}

.border-top {
  border-top: 1px solid gray;
}

.border-bottom {
  border-bottom: 1px solid gray;
}

.border-right {
  border-right: 1px solid gray;
}

.border-left {
  border-left: 1px solid gray;
}

.border-all {
  border: 1px solid gray;
}