.tab {
  border-radius: 10px;
  padding-block: 15px;
  color: gray;
  background-color: transparent;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.active {
  color: var(--color-primary);
  text-decoration: underline;
}