.controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
  justify-items: center;
}

.item {
  display: grid;
  position: relative;
  grid-template-columns: auto 1fr auto;
  border-radius: 5px;
  align-items: center;
  column-gap: 10px;
  background-color: white;
  padding: 10px;
}

.item:has(> .editForm) {
  grid-template-columns: auto 1fr;
}

.title {
  min-width: 0;
  word-break: break-word;
}

.checkedTitle {
  color: gray;
  text-decoration: line-through;
}

.error {
  color: red;
  position: absolute;
  top: 75%;
  left: 34px;
  font-size: 14px;
}

.editForm {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 5px;
}