:root {
  --color-background: #BAC8CE;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  background-color: var(--color-background);
}